---
BasedOnStyle: Microsoft
IndentWidth: 4
PPIndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 4
UseTab: Never
ColumnLimit: 120
MaxEmptyLinesToKeep: 2

#Penalties
PenaltyBreakAssignment: 1000
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakBeforeFirstCallParameter: 1000

AccessModifierOffset: -2

AlignAfterOpenBracket: true
AlignArrayOfStructures: Right

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: false

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveShortCaseStatements:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCaseColons: true

AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true # clang-format 18+
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: false # 20+

AlwaysBreakBeforeMultilineStrings: false

BinPackArguments: true
BinPackParameters: OnePerLine
BitFieldColonSpacing: After

BreakBeforeBraces: Custom #Pretty much Allman
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BracedInitializerIndentWidth: 4 # 17+
BreakAdjacentStringLiterals: false # 18+
BreakAfterAttributes: Leave
BreakAfterReturnType: ExceptShortType # 19+
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTemplateCloser: true # 21+
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakConstructorInitializers: BeforeColon
BreakFunctionDefinitionParameters: false # 21+
BreakInheritanceList: AfterComma
BreakStringLiterals: false
BreakTemplateDeclarations: MultiLine # 19+

CompactNamespaces: false
#Cpp11BracedListStyle: AlignFirstComment

DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock

FixNamespaceComments: true

IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: AfterHash
IndentRequiresClause: false
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: false

KeepEmptyLines: # 19+
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false

LambdaBodyIndentation: Signature
LineEnding: DeriveLF

MainIncludeChar: Quote # 19+
NamespaceIndentation: None

PackConstructorInitializers: BinPack
PointerAlignment: Left

QualifierAlignment: Custom
QualifierOrder: [volatile, static, inline, const, constexpr, restrict, type]

ReferenceAlignment: Pointer
ReflowComments: IndentOnly
RemoveEmptyLinesInUnwrappedLines: true # 20+, maybe false ??
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

SeparateDefinitionBlocks: Leave
SortIncludes:
  Enabled: false
  IgnoreCase: true
SortUsingDeclarations: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAfterOperatorKeyword: true # 21+
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterOverloadedOperator: true

SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false

SpacesInSquareBrackets: false
Standard: Auto

#Macros
AttributeMacros: [__capability, __output, __unused]
ForEachMacros: [RANGES_FOR, FOREACH]
IfMacros: [IF]

---
Language: Cpp
---
Language: CSharp
AllowShortCaseExpressionOnASingleLine: true # 19+

IntegerLiteralSeparator:
  Binary: 8
  Hex: 2
  Decimal: 3
---
Language: Verilog
VerilogBreakBetweenInstancePorts: true
---
Language: Java
BreakAfterJavaFieldAnnotations: true
---
Language: JavaScript
JavaScriptQuotes: Double
